/*
    Responda las siguientes preguntas.
*/

/*
		1.- ¿Cuál es la diferencia entre id y class?
	Por otra parte, el valor del atributo “class”, a diferencia del valor del atributo “id”, puede ser utilizado en más de un elemento
*/

/*
    2.- ¿Qué sucede entre las líneas 12 y 15?
	quita el margen y el paggind de todo
*/
*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

/*
    3.- ¿Para qué nos sirve diplay: block?
	muestra el contenido dentro de un bloque
*/

header, nav, section, article, aside, footer{
    display: block;
}

/*
    4.- ¿Para qué se utiliza text-align: center?
	para centrar el texto
*/

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    5.- ¿Para qué se está utilizando el identificado #caja_principal?
	para identificar el div que abarca toda la pagina web visble, ajusta las dimesiones y la alineacion
	
*/
#caja_principal{
    width: 900px;
    margin: 15px auto;
    text-align: left;
}

/*
    6.- ¿Qué es padding y para qué se utiliza?
	establece la anchura de las zonas
*/
#cabecera{
    background: #FAFAFA;
    border: 1px solid #000000;
    padding: 20px;
}

/*
    7.- ¿Para qué nos sirve border, y cómo se utiliza?
	apra agregar un borde a un texto o imagen, se le puede dar el color del fonto, el tamaño y tipo de borde y que tan cerca del texto estará
	
*/

#barra_navegacion{
    background: #F2F2F2;
    border: 1px solid #000000;
    padding: 5px 15px;

}

/*
    8.- ¿Para qué nos sirve display: inline-block y list-style?
	establece el como se verá, si es en block, será en bloque y si es en list en es lista
*/
#barra_navegacion li{
    display: inline-block;
    list-style: none;
    padding: 5px;
}

/*
    9.- ¿Comó afecta la propiedad "float" en los elementos (etiquetas o selectores) html?
		el lugar donde va ubicado, puede ser izquierda o derecha
		
    10.- ¿Qué es margin y para qué se utiliza?
		es una etiqueta que Establece la anchura de algunos o todos los márgenes de los elementos
    11.- ¿Para qué se utiliza la propiedad background?
	para asignar colo o imagen de fondo
*/

#seccion{
    float: left;
    width: 600px;
    margin: 20px;
    background: #E6E6E6;
}

/*
    12.- ¿Por qué margin tiene dos valores (20px 0px) y cuantos valores puede tener?
		uno hace referencia al valor vertical y el otro vertical, se pueden poner hasta 4
*/

#columna{
    float: right;
    width: 160px;
    margin: 20px 0px;
    padding: 20px;
    background: #D8D8D8;
}

/*
    13.-¿Para qué se utiliza clear: both y border-top?
	el clear es para indicar que no habra ningun elemnto que utilize el float, es both para que elimine los de la derecha e izquierda
	Establece la anchura del borde superior de los elementos
*/

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000000;
}

/*
    14.-¿Qué es CSS?
    en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y
	crear la presentación de un documento estructurado escrito en un lenguaje de marcado
    15.- Mencione las tres formas de añadir CSS a un documento HTML.
	definiendolas en el header, añadiendo un nuevo documento .css y poniendo la etiqueta style="" en los elementos
*/
/*menú personalizado con efectos*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(207, 58, 58);
  }

  /*Imagen fija de fondo(no se mueve)*/
body{
    background-repeat: false;
    background-attachment: fixed;
}